
.headline1 h2 {
 	 color: #fff;
 	 font-size: 17rem;
   font-weight: 400;
   position: absolute;
   margin: 0 auto;
   width: 100%;
   margin-top: -6.5rem;
}
.headline2 {
   top: 8.3rem;
   font-size: 15rem;
}
.headline3 {
   top: 2rem;
   font-size: 12.5rem;
   letter-spacing: -0.3rem;
}





section .section-two .cat-desktop img {
  opacity: 0.8;
  max-width: 110%;
  margin: -38% -30% 0% -30% ;
}
.two-headline {
  font-size: 8.4rem;;
  line-height: 90%;
  margin-top: 5%;
}
.two-description {
  font-size: 3rem;
  line-height: 3.6rem;
  letter-spacing: 0.1rem;
  padding: 2% 8%;
}





.three-card {
  justify-content: space-round;
  flex-wrap: nowrap;
  max-width: 100%;
}
.card-border {
  width: 18.5rem;
  height: 24.5rem;
}
.card-surface {
  width: 16.5rem;
  height: 22.5rem;
}
.card-bg {
  width: 16.5rem;
  height: 22.5rem;
}
.card1 .card-title {
  font-size: 4.1rem;
  margin-top: 55%;
}
.card1:hover .card-title {
  font-size: 14rem;
}
.card1:hover .card-surface {
  width: 18.5rem;
  height: 24.5rem;
}
.card1:hover .card-bg {
  width: 18.5rem;
  height: 24.5rem;
}
.card2 .card-title {
  font-size: 4.1rem;
  margin-top: 55%;
}
.card2:hover .card-title {
  font-size: 9rem;
}
.card2:hover .card-surface {
  width: 18.5rem;
  height: 24.5rem;
}
.card2:hover .card-bg {
  width: 18.5rem;
  height: 24.5rem;
}
.card3 .card-title {
  font-size: 4.1rem;
  margin-top: 55%;
}
.card3:hover .card-title {
  font-size: 7.3rem;
}
.card3:hover .card-surface {
  width: 18.5rem;
  height: 24.5rem;
}
.card3:hover .card-bg {
  width: 18.5rem;
  height: 24.5rem;
}
.card-content {
  font-size: 2.2rem;
  padding: 0 1.5rem;
}





section .section-three {
  min-height: 70vh;
  position: relative;
  display: grid;
  place-items: center;
  background-color: #4F6062;
  z-index: 10;
}
#scroll {
  margin-top: -5.5rem;;
}
#scroll.second-scroll {
  margin-top: -8.6rem;
}
#scroll.third-scroll {
  margin-top: -8.6rem;
}
#scroll.fourth-scroll {
  margin-top: -8.7rem;
}
.scroll {
  .textbox {
    font-size: 6em;
  }
}







section .section-four {
  top: -6.4rem;
}
.section-four .two-headline {
  font-size: 6.2rem;
}
.section-four .two-description {
  padding: 1% 8% 5%;
  font-size: 2.6rem;
  line-height: 3.15rem;
}
.wavebox.wave-daily, .wavebox.wave-monthly {
  width: 610px;
  height: 510px;
  padding: 4rem 2.8rem 3rem;
  margin: 0 0.5rem;
}
.pass-title {
  font-size: 3.9rem;
}
.pass-content {
  font-size: 1.6rem;
  line-height: 1.9rem;
}








.footer-container .two-description {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 5%;
}
.headline-footer h3 {
	color: #fff;
  font-size: clamp(6rem, 11.6vw, 15rem);
  font-weight: 600;
	position: absolute;
  margin: 0 auto;
  width: 100%;
  line-height: 10rem;
  letter-spacing: -0.3rem;
}






.box_astronaut{
    top: -16%;
    right: 6%;
}
.box_astronaut {
  width: 380px;
}
.box_coffee {
  width: 104px;
}





.footer-container .two-description {
  padding-top: 6%;
  margin-bottom: -2%;
}
