body {
  font-size: 1rem;
}






nav {
  padding: 0.8rem 1rem;
}
.nav-btn {
  padding: 0.8rem 0.8rem;
  box-shadow: 0px 6px rgba(242,152,140,0.7);
}






.headline1 h2 {
 	 color: #fff;
 	 font-size: 11rem;
   font-weight: 500;
   position: absolute;
   margin: 0 auto;
   width: 100%;
   margin-top: -6.1rem;
}
.headline2 {
   top: 5.8rem;
   font-size: clamp(6.5rem, 14vw, 16rem);
   font-weight: 700;
}
.headline3 {
   top: 4rem;
   font-size: 9.5rem;
   font-size: clamp(5.0rem, 15vw, 17rem);
   font-weight: 700;
}






section .section-one {
  min-height: 83vh;
  position: relative;
  display: grid;
  place-items: center;
  text-align: center;
}





section .section-two .cat-desktop {
  display: none;
}

section .section-two .cat-mobile {
   display: block;
}
.cat-mobile img {
   width: 94%;
   margin-top: -40%;
}
.two-headline {
  font-size: 5rem;;
  line-height: 90%;
  margin-top: 8%;

}
.two-description {
  font-size: 2.3rem;
  line-height: 2.4rem;
  letter-spacing: 0.1rem;
  margin: 4% 0 5% 0;
}






.three-card {
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  max-width: 98%;
  margin: 0 auto;
}
.card-border {
  width: 21rem;
  height: 27rem;
}
.card-surface {
  width: 19rem;
  height: 25rem;
}
.card-bg {
  width: 19rem;
  height: 25rem;
}
.card1 {
  margin: 1rem 0rem;
  transform: translateY(0rem) rotate(3deg);
}
.card1 .card-title {
  font-size: 4.1rem;
  margin-top: 42%;
}
.card1:hover .card-title {
  font-size: 14rem;
}
.card1:hover .card-surface {
  width: 21rem;
  height: 27rem;
}
.card1:hover .card-bg {
  width: 21rem;
  height: 27rem;
}
.card2 {
  margin: 1rem 0rem;;
  transform: translateY(0rem) rotate(-2deg);
}
.card2:hover {
  transform: translateY(0rem) rotate(0deg);
}
.card2 .card-title {
  font-size: 4.1rem;
  margin-top: 42%;
}
.card2:hover .card-title {
  font-size: 7.6rem;
}
.card2:hover .card-surface {
  width: 21rem;
  height: 27rem;
}
.card2:hover .card-bg {
  width: 21rem;
  height: 27rem;
}
.card3 {
  margin: 1rem 0rem;;
  transform: translateY(0rem);
}
.card3:hover {
  transform: translateY(0rem) rotate(-2deg);
}
.card3 .card-title {
  font-size: 4.1rem;
  margin-top: 42%;
}
.card3:hover .card-title {
  font-size: 6.5rem;
}
.card3:hover .card-surface {
  width: 21rem;
  height: 27rem;
}
.card3:hover .card-bg {
  width: 21rem;
  height: 27rem;
}
.card-content {
  font-size: 2.2rem;
  padding: 0 1.5rem;
}





section .section-three {
  min-height: 70vh;
  position: relative;
  display: grid;
  place-items: center;
  background-color: #4F6062;
  z-index: 10;
}
#scroll {
  margin-top: -5.5rem;;
}
#scroll.second-scroll {
  margin-top: -8.6rem;
}
#scroll.third-scroll {
  margin-top: -8.6rem;
}
#scroll.fourth-scroll {
  margin-top: -8.7rem;
}
.scroll {
  .textbox {
    font-size: 5.5rem;
  }
}







.logo-steam {
  position: relative;
  top: 9rem;
  right: 52%;
}
.subpic-logo {
  transform: scale(44%);
  filter: drop-shadow(12px 12px 20px rgba(255,255,255,0.6));
}







section .section-four {
  top: 0rem;
}
.section-four .two-headline {
  font-size: 5em;
  line-height: 90%;
}
.section-four .two-description {
  padding: 1% 6% 3%;
  font-size: 2.1rem;
  line-height: 2.3rem;
}
.pass-box {
  width: 98%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10%;
}
.wavebox.wave-daily, .wavebox.wave-monthly {
  width: 96%;
  height: 480px;
  padding: 2rem 2rem;
  margin: 1rem;
}
.pass-title {
  font-size: 3.6rem;
  margin-top: 1.7rem;
  margin-bottom: -0.7rem;
}
.pass-content {
  font-size: 1.5rem;
  line-height: 1.9rem;
}








section .section-six {
  min-height: 40vh;
  position: relative;
  background-color: #E2DED8;
  z-index: 50;
}
.cat-gallery {
  width: 100%;
  text-align: center;
  padding-bottom: 0rem;
  margin: 2.5rem auto;
}
.cat-gallery .two-headline {
  color: #9C6E58;
  font-size: 5rem;
}
.cat-gallery .two-description {
  font-size: 2.1rem;
  line-height: 2.3rem;
  padding: 0 6% 5%;
}
section .section-grid {
  padding: 0% 4% 13%;
  display: grid;
  gap: 0.8rem;
}
.grid-content span {
  font-size: 1.6rem;
}








.section-seven .footer-container {
  background-color: white;
  position: absolute;
  display: grid;
  place-items: center;
  text-align: center;
  min-height: 40vh;
  width: 100%;
  margin: 0 auto;
}
.section-seven .footer-container img {
  position: relative;
  bottom: -6em;
  opacity: 0.9;
  width: 100%;
}
.footer-container .two-description {
  font-size: 1.1rem;
  line-height: 1.7rem;
  padding-top: 30%;
}
.headline-footer h3 {
	color: #fff;
  font-weight: 600;
	position: absolute;
  margin: 0 auto;
  width: 100%;
  line-height: 5rem;
  letter-spacing: -0.2rem;
  padding: 4%;
  margin-top: 15%;
  font-size: 5.2em;
}






.box_astronaut{
    top: 40%;
    right: 3%;
}
.box_astronaut {
  width: 196px;
}
.box_coffee {
  width: 60px;
  top: -15%;
  left: 22%;
}
.ball {
  display: none;
}
