body{
  font-family: Helvetica;
  margin: 0;
  text-align: center;
}

.menu_banner{
  background-image: url("../images/bg.png");
  background-position: center;
  background-size: cover;
  height :auto;
  padding: 5px;
  color: white;
}

.menu_banner h1{
  font-size: 5.5em;
  font-weight: bold;
}

.menu a{
  color: white;
}

ul,li{
  padding-bottom: 10px;
  list-style:none;
  padding-left: 0px;
}

.midcaption{
  background-image: url("../images/bg.png");
  background-position: center;
  background-size: cover;
  height :auto;
  padding: 13px;
  color: white;
}

img{
  padding-top: 20px;
}

.footer{
  background-color: gray;
  text-align: left;
  padding: 12px;
  margin-top: 40px;
  color: white;
}

.footer a{
  color: white;
}

.footersmall{
  font-size: 11px;
}
